@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  --color-brand-pink: #E95B7F;
  --color-brand-rose: #C95AAC;
  --color-brand-violet: #AB58DA;
  --color-brand-dark: #833B71;
  --background-image-gradient-brand: linear-gradient(to right, #E95B7F, #C95AAC, #AB58DA, #833B71);
  --font-display: 'Montserrat', sans-serif; /* Para títulos impactantes */
  --font-sans: 'Inter', sans-serif;
}
@keyframes shake {
  0%, 100% { transform: translateX(0); }
  25% { transform: translateX(-4px); }
  50% { transform: translateX(4px); }
  75% { transform: translateX(-4px); }
}

.animate-shake {
  animation: shake 0.4s cubic-bezier(.36,.07,.19,.97) both;
}